<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="bg-light">
  <div class="container">
    <div class="row py-2 justify-content-center">
      <div class="col-md-8">
        <h3 class="text-center py-1">Google Drive Client</h3>
        <div *ngIf="loggedIn===false">
          <div class="text-center">
            <button type="button" (click)="sinInWithGoogle()" class="btn btn-primary">Sign In With Google</button>
          </div>
        </div>
        <div class="form-row" *ngIf="loggedIn===true">
          <div class="form-group col-md-4">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" [value]="firstName" readonly>
          </div>
          <div class="form-group col-md-4">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" [value]="surname" readonly>
          </div>
          <div class="form-group col-md-4">
            <label for="email2">Email</label>
            <input type="text" class="form-control" id="email2" [value]="email" readonly>
          </div>

          <a routerLink=""><button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button></a>
         <button type="button" (click)="openDrive()" class="btn btn-primary" style="margin-left:30px;">Open Drive</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
</html>
