<div class="row py-2 justify-content-center">
  <input type="file" (change)="uploadFile($event)">
  <table style="width:75%">
    <tr>
      <th> Type </th>
      <th> Name </th>
      <th> Size </th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let file of files">
      <td onmouseover="">{{file.fileType}}</td>
      <td>{{file.Name}}</td>
      <td>{{file.fileSize}} MB</td>
    <td class="row_highlight" (click)="getfiles(file.ID)"> open </td>
      <td class="row_highlight" (click)="download(file.ID)">Download</td>
    </tr>
  </table>
  <button type="button" (click)="goBack()" class="btn btn-primary" style="margin-left:30px;">Go back</button>
</div>
